In [10]:
import numpy as np
import pandas as pd
h=[170,175,154,172,180]
w=[64,60,46,65,67]
data=list(zip(h,w))

df=pd.DataFrame(data=data,columns=['height','weight'])
df.to_csv('c.csv',index=False,header=True)
import os
os.getcwd()

'C:\\Users\\ADMIN\\Desktop\\Machine learning workshop\\Basics'

In [11]:
df=pd.read_csv('c.csv')
df

   height  weight
0     170      64
1     175      60
2     154      46
3     172      65
4     180      67

In [13]:
dataset=pd.read_csv('s.csv')
print(dataset)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values